window {
    background-color: black;
}

#center_label, #unlocked_instructions_label {
    color: white;
}

#center_label {
    font-size: 40px;
}

#unlocked_instructions_label {
    font-size: 20px;
}
